    <footer class="main-footer">
      <span>
        A thing made by <a href="https://akonobrathwaite.com" id="footer-link">Akono</a>
      </span>
        <i class="fas fa-arrow-up to-top-button" onclick="topFunction()"></i>
    </footer>
  </body>
</html>
