    <footer class="main-footer">
        Made with <span style="color: #e25555;">♥</span> by
        <a href="https://www.akonobrathwaite.com" target="_target">Akono</a>
        <i class="fas fa-arrow-up to-top-button" onclick="topFunction()"></i>
    </footer>
  </body>
</html>
