<% include partials/header %>

<main class="archive-content">
  <form action="/results" method="GET" class="search-form">

    <div class="search-fields">
      <div>
        <label for="siteName">Website</label>
        <select name="siteID" id="siteName" required>
          <% for(let i = 0; i < articles.length; i++){ %>
          <option value="<%= articles[i] %>"><%= siteInfo(articles[i]).name %></option>
          <% } %>
        </select>
      </div>
      
      <div>
        <label for="startDate">Start Date</label>
        <input type="date" id="startDate" min="2019-01-01" name="startDate" required>
      </div>
      
      <div>
        <label for="endDate">End Date</label>
        <input type="date" id="endDate" min="2019-01-01" max="" name="endDate">
      </div>
    </div>

    <div class="search-button-div">
      <button>Search</button>
    </div>


  </form>
</main>

<% include partials/footer %>