<% include partials/head %>
<script src="/scripts/main.js" defer></script>
<% include partials/header %>

<!-- <div id="canvas-container"></div> -->
<canvas id="myChart" class="canvas" width="400" height="400"></canvas>


<% include partials/footer %>
