<% include partials/head %>
<script src="/scripts/main.js" defer></script>
<% include partials/header %>

  <div class="register-form-div">
    <h1><%= page[0].toUpperCase() + page.slice(1); %></h1>
    <p style="color: #dc3545;"><%= userMessage %></p>
    <form class="register-form" action="/auth/<%= page %>" method="POST">
      <input type="email" id="email" class="form-input" placeholder="Email" name="email" required/>
      <input type="password" id="password" class="form-input" placeholder="Password" name="password" required />
      <input type="submit" name="submit" id="submit" />
    </form>
    <p>New User? <a href="/auth/register">Create Account</a></p>
  </div>

  <div>
    <p></p>
  </div>

<% include partials/footer %>