/* CSS Variables */
:root {
  --main-bg-color: #1a1c20;
  --alt-bg-color: #111214;
  --main-highlight-color: rgba(80, 200, 120, 0.5);
  --alt-highlight-color: #578039;
  --scroll-color-one: #803957;
  --scroll-color-two: #397580;
  --scroll-color-three: #804d39;
  --transition-values: all 500ms ease-out;
  /* --headline-font: 'Libre Franklin', sans-serif;
  --body-font: 'Libre Baskerville', serif; */
  --headline-font: 'Work Sans', sans-serif;
  --body-font: 'Taviraj', serif;
}


/* Setting Related to Body Element */
body {
color: #d2d6da;
background-color: var(--main-bg-color);
/* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23803957' stroke-width='0.6' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E"); */
font-family: var(--body-font);
line-height: 1.5;
margin:0;
transition: var(--transition-values);
}

/* Change colors of background svg when page scrolled to certain position */

/* html[data-scroll='1'] body{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23578039' stroke-width='0.6' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}
html[data-scroll='2'] body{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23804d39' stroke-width='0.6' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}
html[data-scroll='3'] body{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23397580' stroke-width='0.6' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
} */

h1,h2,h3,h4 {
  font-family: var(--headline-font);
  color:white;
}

a {
  text-decoration: none;
  color:inherit;
}

button{
  font-family: inherit;
}

/* CSS Rulesets for Main Header */
.main-header {
  /* border: solid red 1px; */
  background-color: var(--alt-bg-color);
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 1rem;
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}


.logo{
  fill: var(--alt-highlight-color);
  transition: var(--transition-values);
}
/* Change color of logo svg depending position of scroll */
html[data-scroll='1'] .logo{
  fill: var(--scroll-color-one);
}
html[data-scroll='2'] .logo{
  fill: var(--scroll-color-two);
}
html[data-scroll='3'] .logo{
  fill: var(--scroll-color-three);
}


/* Weather Widget Styling */
.weather-widget{
  padding-right: 15px;
}
.weather-temp{
  padding-right: 5px;
}
.weather-info img{
  height: 22px;
}

/* Styles For Main Footer */
.main-footer {
  padding: 0.8rem 1rem;
  background-color:var(--alt-bg-color);
  text-transform: uppercase;
  font-size: 0.7em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#footer-link{
  color: var(--alt-highlight-color);
}

/* Changes color of footer link depending on scroll position  */
html[data-scroll='1'] #footer-link{
  color: var(--scroll-color-one);
}
html[data-scroll='2'] #footer-link{
  color: var(--scroll-color-two);
}
html[data-scroll='3'] #footer-link{
  color: var(--scroll-color-three);
}

/* Styles for Main Content on Page */
.main-content {
  /* Arrange lists of articles in a flexible grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  /* justify-content: center; */
  /* margin-top: 2.5%; */
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
}

/*  */
/* .links-header{
  font-weight: normal;
} */

/* Styles header for each list of links --> Nation News */
.links-header, ul {
  /* Remove bullet point */
  list-style-type: none;
  padding-left: 1rem;
}

/* Styles article headlines */
.links-list li {
  border-bottom: dotted rgba(70, 70, 83, 0.5) 1px;
  display: flex;
  padding: 10px;
  /* padding-left: 2%;
  padding-right: 2% */
  align-items: baseline;
  /* Spaces flex items equally in parent, in this case pushes items to opposite ends of parent element */
  justify-content: space-between;
  box-shadow: 0px 0px 0.5px #111214;
}

.links-share {
  padding: 2%;
  background-color: var(--alt-bg-color);
  border-radius: 2%;
  text-align: center;
  transition: var(--transition-values);
  border: var(--main-bg-color) solid 5px;
}

.links-share .fab {
  margin-left: 1%;
  margin-right: 1%;
  font-size: 1.3em;
}

.share-toggler {
  cursor: pointer;
}

/* Allow headline a elements to have a bottom padding; without this a elements are simply inline elements */
.headline {
    /* padding: .5rem 1rem; */
    padding: 1.8% 2%;
    display: block;
}

.headline:visited {
  /* color: var(--alt-bg-color); */
  text-decoration: line-through solid red;
}

.headline:hover {
  color:white;
}

.article-thumbnail{
  height:136px;
  width: 205px;
  border-radius: 3%;
}

/* Style Icons */
.fas {
  color: #578039;
  transition: var(--transition-values);
}

.fab {
  font-size: 1em;
}

/* Changes Color of Icons (fas) on page depending on scroll position */
html[data-scroll='1'] .fas{
  color: var(--scroll-color-one);
}
html[data-scroll='2'] .fas, html[data-scroll='2'] .logo{
  color: var(--scroll-color-two);
}
html[data-scroll='3'] .fas, html[data-scroll='3'] .logo{
  color: var(--scroll-color-three);
}

/* Styles of More/Less Button */
.articles-toggler {
  text-align: center;
  font-size: 0.9em;
  color:white;
  cursor: pointer;
}

/* CSS Hover Effect */
/* Grow */
/* .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
} */

/* Form  and Form Field Styling */
.search-fields{
  margin-top: 5%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.search-fields label {
  display: block;
  padding-right: 15px;
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
}

.search-fields div{
  margin-bottom:25px;
}

.search-form button {
  box-shadow: 0 0 0 0.175em var(--alt-highlight-color);
  box-sizing: border-box;
  border-radius: 0.1235em;
  font-size: 1.2em;
  background-color: var(--alt-highlight-color);
  color:white;
  padding-left:10px;
  padding-right: 10px; 
  width:100px
}

.search-button-div{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  height: 50px;
}

#siteName{
  max-width: 276px;
}


input[type="date"] {
  padding-left: 1.5em;
  padding-right: 0;
  background-repeat: no-repeat;
  background-position: 0.25em center;
  background-size: 1em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><g stroke='%23111' stroke-width='1' fill='none'><path d='M2,5 38,5 38,10 2,10Z' fill='%23aaa' /><path d='M2,5 38,5 38,10 2,10 2,15 38,15 38,20 2,20 2,25 38,25 38,30 2,30 2,35 38,35 33,35 33,5 28,5 28,35 23,35 23,5 18,5 18,35 13,35 13,5 8,5 8,35' /><path d='M01.5,4.5 1.5,35.5 38.5,35.5 38.5,4.5Z' stroke-width='3'/></g></svg>");
}

input, select {
  box-shadow: 0 0 0 0.175em var(--alt-highlight-color);
  box-sizing: border-box;
  padding-right: 0.5em;
  box-sizing: border-box;
  border: 0;
  border-radius: 0.1235em;
  font-size: 2em;
  height: 50px;
}

input:focus, select:focus {
  outline: 2px dashed var(--alt-highlight-color);
  outline-offset: 0.25em;
}


@media all and (max-width: 980px){
  .search-fields {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  } 
  .search-fields label {
    text-align: center;
}
}

/* For Mobile devices adjusts minimum width of page content such that it takes up full width of screen and is not bigger than screen width (prevents zoomed in on page load on mobile devices)*/
@media all and (max-width: 500px){
  .main-content {
    grid-template-columns: repeat(auto-fill, 100%);
  } 
}

/* Change flex items to be verticle in header on smaller screensizes */
@media all and (max-width: 413px){
  .main-header {
    font-size: 0.8em;
  }
}

/* li, ul, h2, section {
  border: solid red 1px;
  list-style-type: none;
} */