/* CSS Variables */
:root {
  --main-bg-color: #1a1c20;
  --alt-bg-color: #111214;
  --main-text-color: #d2d6da;
  --alt-text-color: #fff;
  --main-highlight-color: rgba(80, 200, 120, 0.5);
  --alt-highlight-color: #578039;
  --scroll-color-one: #803957;
  --scroll-color-two: #397580;
  --scroll-color-three: #804d39;
  --transition-values: all 100ms linear;
  --headline-font: "Work Sans", sans-serif;
  --body-font: "Taviraj", serif;
  --border-style: 1px rgb(70, 70, 83) solid;
}

.light-mode {
  --main-bg-color: #efefef;
  --alt-bg-color: #fff;
  --main-text-color: #292b2c;
  --alt-text-color: #292b2c;
  --border-style: 1px rgb(200, 200, 200) solid;
  --alt-highlight-color: mediumpurple;
}

.dark-mode {
  --main-bg-color: #1a1c20;
  --alt-bg-color: #111214;
  --main-text-color: #d2d6da;
  --alt-text-color: #fff;
  --border-style: 1px rgb(70, 70, 83) solid;
  --alt-highlight-color: #578039;
}

/* Setting Related to Body Element */
body {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23803957' stroke-width='0.6' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E"); */
  font-family: var(--body-font);
  line-height: 1.5;
  margin: 0;
}

/* Change colors of background svg when page scrolled to certain position */

/* html[data-scroll='1'] body{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23578039' stroke-width='0.6' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}
html[data-scroll='2'] body{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23804d39' stroke-width='0.6' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}
html[data-scroll='3'] body{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23397580' stroke-width='0.6' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
} */

h1,
h2,
h3,
h4,
.search-fields label {
  font-family: var(--headline-font);
  color: var(--alt-text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

.element-style-1 {
  border-radius: 10px;
  background-color: var(--alt-bg-color);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.flex-style-1 {
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none !important;
}

.visuallyHidden {
  opacity: 0;
}

/* CSS Rulesets for Main Header */
.main-header {
  /* border: solid red 1px; */
  background-color: var(--alt-bg-color);
  max-width: 100%;
  padding: 0.7rem;
  /* position: fixed; */
  align-items: baseline;
  margin-bottom: 2%;
}

.header-links h3 {
  display: inline;
}

.header-link {
  margin-left: 10px;
  display: inline;
}

#dark-mode-button {
  color: var(--main-text-color);
  font-size: 1.5em;
  padding-right: 15px;
  cursor: pointer;
}

.logo {
  fill: var(--alt-highlight-color);
  transition: var(--transition-values);
}
/* Change color of logo svg depending position of scroll */
html[data-scroll="1"] .logo {
  fill: var(--scroll-color-one);
}
html[data-scroll="2"] .logo {
  fill: var(--scroll-color-two);
}
html[data-scroll="3"] .logo {
  fill: var(--scroll-color-three);
}

.home-page-content {
  margin-bottom: 5%;
}

/* Weather Widget Styling */
.info-widget {
  padding: 0px 10px 10px 10px;
  display: inline-block;
  margin: 10px 15px;
}
.main-highlight {
  color: var(--alt-highlight-color);
}
.weather-img {
  height: 22px;
}

.welcome-text {
  text-align: center;

  padding: 20px;
  margin: 15px auto;
  width: 35%;
}

.page-title {
  color: var(--alt-highlight-color);
}

.filter-div-container {
  text-align: center;
}

.filter-div {
  padding: 20px;
  display: inline-flex;
  justify-content: space-between;
}

.filter {
  border: var(--border-style);
  border-radius: 5px;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
}

.filter:hover {
  border-color: var(--alt-text-color);
}

/* Styles For Main Footer */
.main-footer {
  display: block;
  position: fixed;
  bottom: 0px;
  left: 10px;
}

.to-top-button {
  font-size: 1.2em;
  cursor: pointer;
  margin-left: 10px;
}

#footer-link {
  color: var(--alt-highlight-color);
  transition: var(--transition-values);
}

/* Changes color of footer link depending on scroll position  */
html[data-scroll="1"] #footer-link {
  color: var(--scroll-color-one);
}
html[data-scroll="2"] #footer-link {
  color: var(--scroll-color-two);
}
html[data-scroll="3"] #footer-link {
  color: var(--scroll-color-three);
}

/* Styles for Main Content on Page */
.main-content {
  /* Arrange lists of articles in a flexible grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
}

/*  */
/* .links-header{
  font-weight: normal;
} */

/* Styles header for each list of links --> Nation News */
.links-header,
ul {
  /* Remove bullet point */
  list-style-type: none;
  padding-left: 1rem;
}

/* Styles article headlines */
.links-list li {
  display: flex;
  padding: 10px;
  /* padding-left: 2%;
  padding-right: 2% */
  align-items: baseline;
  /* Spaces flex items equally in parent, in this case pushes items to opposite ends of parent element */
  justify-content: space-between;
  box-shadow: 0px 0px 0.5px #111214;
  border: var(--border-style);
  margin-bottom: 2px;
  border-radius: 10px;
  background-color: var(--alt-bg-color);
  cursor: pointer;
}

.links-list li:hover {
  border-color: var(--alt-text-color);
  /* border-width:1px;
	border-style:solid; */
  color: var(--alt-text-color);
}

.article-card {
  display: grid;
  grid-template-columns: 33% auto 33%;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "image image image"
    "image image image"
    "headline headline headline"
    "summary summary summary"
    "footer footer footer";
  transition: var(--transition-values);
}

.article-thumbnail-div {
  grid-area: image;
}

.article-headline-div {
  grid-area: headline;
  text-transform: capitalize;
  color: var(--alt-highlight-color);
  padding: 5px 10px 0 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.article-summary-div {
  grid-area: summary;
  padding-right: 10px;
  padding-left: 10px;
}

.article-card-footer {
  grid-area: footer;
  font-weight: 700;
  min-height: 2.1em;
  padding: 0 15px 5px 15px;

  transition: var(--transition-values);
}

.share-button,
.hide-share-button {
  /* padding-right: 10px; */
  cursor: pointer;
}
.share-button {
  font-size: 1.2em;
}

.article-card-info-div {
  transition: var(--transition-values);
  align-items: flex-start;
}

.article-share-div {
  font-size: 1.3em;
  /* padding-right: 10px; */
  transition: var(--transition-values);
  align-items: flex-start;
}

.website-favicon {
  border-radius: 5px;
}

/* Color animation for new article */
/* .new-article {
  margin-right: 10px;
  animation: smooth 7.5s infinite;
}

@keyframes smooth {
  0% {
    color: var(--alt-highlight-color);
  }
  33% {
    color: var(--scroll-color-one);
  }
  66% {
    color: var(--scroll-color-two);
  }
  100% {
    color: var(--scroll-color-three);
  }
} */

.article-thumbnail {
  height: 300px;
  width: 100%;
}

/* Style Icons */
.fas {
  color: var(--alt-highlight-color);
  transition: var(--transition-values);
}

.fab {
  font-size: 1em;
}

/* Changes Color of Icons (fas) on page depending on scroll position */
html[data-scroll="1"] .fas {
  color: var(--scroll-color-one);
}
html[data-scroll="2"] .fas,
html[data-scroll="2"] .logo {
  color: var(--scroll-color-two);
}
html[data-scroll="3"] .fas,
html[data-scroll="3"] .logo {
  color: var(--scroll-color-three);
}

/* Form  and Form Field Styling */
.search-fields {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.search-fields label {
  display: block;
  padding-right: 15px;
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
}

.search-fields div {
  margin-bottom: 25px;
}

.search-form button {
  box-shadow: 0 0 0 0.175em var(--alt-highlight-color);
  box-sizing: border-box;
  border-radius: 0.1235em;
  font-size: 1.2em;
  background-color: var(--alt-highlight-color);
  color: var(--alt-text-color);
  padding-left: 10px;
  padding-right: 10px;
  width: 100px;
}

.search-form {
  border-bottom: dotted rgba(70, 70, 83, 0.5) 1px;
  padding-bottom: 20px;
}

.search-button-div {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  height: 50px;
  color: var(--alt-text-color);
}

.search-button-div button i {
  color: var(--alt-text-color);
}

#siteName {
  max-width: 276px;
}

input,
select {
  box-shadow: 0 0 0 0.175em var(--alt-highlight-color);
  box-sizing: border-box;
  padding-right: 0.5em;
  border-radius: 0.1235em;
  font-size: 2em;
  height: 50px;
}

input[type="date"] {
  padding-left: 1.5em;
  padding-right: 0;
  background-repeat: no-repeat;
  background-position: 0.25em center;
  background-size: 1em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><g stroke='%23111' stroke-width='1' fill='none'><path d='M2,5 38,5 38,10 2,10Z' fill='%23aaa' /><path d='M2,5 38,5 38,10 2,10 2,15 38,15 38,20 2,20 2,25 38,25 38,30 2,30 2,35 38,35 33,35 33,5 28,5 28,35 23,35 23,5 18,5 18,35 13,35 13,5 8,5 8,35' /><path d='M01.5,4.5 1.5,35.5 38.5,35.5 38.5,4.5Z' stroke-width='3'/></g></svg>");
  box-shadow: 0 0 0 0.175em var(--alt-highlight-color);
}

input:focus,
select:focus {
  outline: 2px dashed var(--alt-highlight-color);
  outline-offset: 0.25em;
}

input#endDate {
  box-shadow: 0 0 0 0.175em var(--scroll-color-one);
}

input#startDate {
  box-shadow: 0 0 0 0.175em var(--scroll-color-two);
}

input#endDate:focus {
  outline: 2px dashed var(--scroll-color-one);
  outline-offset: 0.25em;
}

input#startDate:focus {
  outline: 2px dashed var(--scroll-color-two);
  outline-offset: 0.25em;
}

/* Results Page */
.results-header {
  text-align: center;
  margin-top: 3%;
}

.results-site-name {
  font-size: 2em;
}

.results-list {
  padding-top: 1rem;
}

.article-count {
  padding-left: 1rem;
}

.date-link {
  border: dotted rgba(140, 140, 166, 0.8) 1px;
  border-radius: 5px;
  padding-right: 0.5%;
  padding-left: 0.5%;
  margin-bottom: 0.5%;
  color: var(--alt-highlight-color);
  font-weight: bold;
  display: inline-block;
}

/* Error Page Rulesets */
.error-div {
  background-image: url(/images/nope.gif);
  background-size: cover;
  background-position: 10%;
  min-height: 100vh;
  text-align: center;
}
.error-text {
  margin: 0px;
}

@media all and (max-width: 980px) {
  .search-fields {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .search-fields label {
    text-align: center;
  }
  .welcome-text {
    width: 80%;
  }
}

@media all and (max-width: 713px) {
  .filter-div {
    flex-direction: column;
    align-items: center;
  }
}

/* For Mobile devices adjusts minimum width of page content such that it takes up full width of screen and is not bigger than screen width (prevents zoomed in on page load on mobile devices)*/
@media all and (max-width: 500px) {
  .main-content {
    grid-template-columns: repeat(auto-fill, 100%);
  }
  .filter-div {
    flex-direction: column;
    align-items: center;
  }
}

/* Change flex items to be verticle in header on smaller screensizes */
@media all and (max-width: 413px) {
  .main-header {
    font-size: 0.8em;
  }
}