/* CSS Variables */

:root {
  --main-bg-color: #1a1c20;
  --alt-bg-color: #111214;
  --main-highlight-color: rgba(80, 200, 120, 0.5);
  --alt-highlight-color: rgba(18,10,143, 0.5);
  /* --headline-font: 'Libre Franklin', sans-serif;
  --body-font: 'Libre Baskerville', serif; */
  --headline-font: 'Cormorant Garamond', serif;
  --body-font: 'Proza Libre', sans-serif;
}


body {
  background-color: var(--main-bg-color);
  color: #b2b6b9;
  font-family: var(--body-font);
  line-height: 1.5;
  margin:0;
}

h1,h2 {
  font-family: var(--headline-font);
  color:white;
}

a, a:visited {
  text-decoration: none;
  color:inherit;
}

.headline:visited {
  /* color: var(--alt-bg-color); */
  text-decoration: line-through solid red;
}

.headline:hover {
  color:white;
}

/* Styles Page Header */
.main-header {
  /* border: solid red 1px; */
  background-color: var(--alt-bg-color);
  text-transform: uppercase;
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 1rem;
  position: fixed;
}

/* Styles Page Footer */
.main-footer {
  padding: 0.8rem 1rem;
  background-color:var(--alt-bg-color);
  text-transform: uppercase;
  font-size: 0.7em;
}

#footer-link{
  color: var(--main-highlight-color);
}

/* Arrange lists of articles in a flexible grid */
.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  /* justify-content: center; */
  /* margin-top: 2.5%; */
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 4rem;
}

/* Styles header for each list of links --> Nation News */
.links-header, ul {
  /* Remove bullet point */
  list-style-type: none;
  padding-left: 1rem;
}

/* Allow headline a elements to have a bottom padding; without this a elements are simply inline elements */
.headline {
    /* padding: .5rem 1rem; */
    padding: 1.8% 2%;
    display: inline-block;
}

/* Style Icons */
.fas {
  color: var(--main-highlight-color);
}

/* Styles article headlines */
.links-list li {
  border-bottom: dotted rgba(46,46,55,.5) 1px;
}

.articles-toggler {
  text-align: center;
  font-size: 0.9em;
  color:white;
  cursor: pointer;
}

/* CSS Hover Effect */
/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

/* For Mobile devices adjusts minimum width of page content such that it takes up full width of screen and is not bigger than screen width (prevents zoomed in on page load on mobile devices)*/
@media all and (max-width: 500px){
  .main-content {
    grid-template-columns: repeat(auto-fill, 100%);
  } 
}

/* li, ul, h2, section {
  border: solid red 1px;
  list-style-type: none;
} */